* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
  
  font-size: 62.5%;
  --color-base-azul-200: #95b8f6;
  --color-base-azul-100: #add5fa;
  --color-base-bege-100: #f9d99a;
  --color-base-salmao-100: #f9a59a;
  --color-base-vermelho-100: #fa5f49;
  --color-base-0: #2d2d2e;
  --color-base-1: #5D5C61;
  --color-base-2: #7b7980;
  --color-base-3: #7395AE;
  --color-base-4: #557A95;
  --color-base-5: #B1A296;
  --color-base-6: #e5e3e9;
  --color-base-white: #FFF;
}

body {
  width: auto;
  height: 100vh;
  font-family: 'Mulish', sans-serif;
  color: var(--color-base-1);
  font-size: 1.6rem;
  background: linear-gradient(180deg, var(--color-base-1) 0%, var(--color-base-5) 100%);
}

body:before{
  content: "";
  position: absolute;
  width: 100rem;
  height: 100vh;
  background: var(--color-base-6);
  z-index: -1;
}

header div:first-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
}

header .nav{
  margin-top: 3rem;
  display: flex;
  flex-direction:row;
  gap: 4rem;
  align-items: center;
  padding: 1rem 2rem;
}

header .nav a {
  text-decoration: none;
}

header .nav h1 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--color-base-1);
}

header .nav h3 {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-base-2);
}

header .nav h3:hover {
  color: var(--color-base-0);
}

header .button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header .searchButton input {
  border: none;
  border-bottom: var(--color-base-white) 1px solid;
  padding: .5rem 1rem;
  background: none;
}

header .searchButton input::placeholder {
  color: var(--color-base-6);
}

header .searchButton input:focus {
  outline: none;
  color: var(--color-base-white);
}

header .searchButton button {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

header .searchButton button::before {
  cursor: pointer;
  content: "";
  width: 2rem;
  height: 2rem;
  display: block ;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-image: url(../assets/search.svg);
}

.page {
  margin: 0 auto;
}

fieldset .fieldset-wrapper {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--color-base-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

fieldset .input-wrapper {
  font-size: 1.6rem;
  font-weight: 400;
}

fieldset .input-wrapper input {
  width: 100%;
  height: 4rem;
  border: none;
  border-bottom: var(--color-base-1) 1px solid;
  padding: .5rem 1rem;
  background: none;
  font-size: 2rem;
}

fieldset .input-wrapper input:focus {
  outline: none;
}

fieldset .fieldset-wrapper select {
  height: 4rem;
  border: none;
  border-bottom: var(--color-base-1) 1px solid;
  padding: .5rem 1rem;
  background: none;
  font-size: 2rem;
  
}

fieldset .input-wrapper select:focus {
  outline: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 2rem;
}