* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
  
  font-size: 62.5%;
  --color-base-azul-200: #95b8f6;
  --color-base-azul-100: #add5fa;
  --color-base-bege-100: #f9d99a;
  --color-base-salmao-100: #f9a59a;
  --color-base-vermelho-100: #fa5f49;
  --color-base-0: #2d2d2e;
  --color-base-1: #5D5C61;
  --color-base-2: #7b7980;
  --color-base-3: #7395AE;
  --color-base-4: #557A95;
  --color-base-5: #B1A296;
  --color-base-6: #e5e3e9;
  --color-base-white: #FFF;
}

body {
  height: 100vh;
  font-family: 'Mulish', sans-serif;
  color: var(--color-base-1);
  font-size: 1.6rem;
  background: linear-gradient(180deg, var(--color-base-1) 0%, var(--color-base-5) 100%);
}

body:before{
  content: "";
  position: absolute;
  width: 83rem;
  height: 100vh;
  background: var(--color-base-6);
  z-index: -1;
}

header div:first-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
}

header .nav{
  display: flex;
  flex-direction:row;
  gap: 4rem;
  align-items: center;
  padding: 1rem 2rem;
}

header .nav a {
  text-decoration: none;
}

header .nav h1 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-base-1);
}

header .nav h3 {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-base-2);
}

header .nav h3:hover {
  color: var(--color-base-0);
}

header .button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header .searchButton input {
  border: none;
  border-bottom: var(--color-base-white) 1px solid;
  padding: .5rem 1rem;
  background: none;
}

header .searchButton input::placeholder {
  color: var(--color-base-6);
}

header .searchButton input:focus {
  outline: none;
  color: var(--color-base-white);
}

header .searchButton button {
  background: var(--color-base-6);
  border-radius: 50%;
  padding: 0.2rem;
  border: var(--color-base-1);
  cursor: pointer;
}

main .items {
  display: flex;
  flex-direction: row;
  gap: 20rem;
  align-items: center;
  padding: 4rem 8rem;
  
}

main fieldset {
  width: 70rem;
  border-radius: 10rem;
  border: none;
  padding: 2rem 5rem;
}

main fieldset h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

main fieldset h2 {
  margin: 2rem 0 2rem 0;
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-base-2);
}

main fieldset p {
  margin-top: .8rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-base-2);
}

main .imgbookHome img {
  margin-left: -25rem;
  width: 20rem;
  border-radius: 25%;
}

main .imgNews {
  margin: 1rem 0 0 5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

main .imgNews img {
  width: 10rem;
  border-radius: 25%;
}