<!DOCTYPE html>
<html lang="pt-br">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TheBookIsOnTheTable</title>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/about.css">
</head>
<body>
  <div class="page">
    
  <header>
    <div class="header">

      <div class="nav">
        
          <a class="homeOne" href="/index.html">
            <h1>The Book Is On The Table</h1>
          </a>
          <a class="homeTwo" href="/index.html">
            <h3>Home</h3>
          </a>
          <a class="collecction" href="/src/views/collection.html">
            <h3>Acervo</h3>
          </a>
          <a class="rent" href="/src/views/users.html">
            <h3>Usuários</h3>
          </a>                
      </div>
      <div class="searchButton">
        <input type="text" placeholder="Digite sua busca">
        <button>
          
        </button>
      </div>

    </div>
  </header>

  <main>

    <div class="items">
      <div class="firstItems">
        <fieldset>
          <h1>Projeto - The Book Is On The Table</h1>
          <h2>Sistema de Gerenciamento de Biblioteca</h2>
          <h2>Descrição:</h2>
          <p>
          O Sistema de Gerenciamento de Biblioteca é uma aplicação projetada para simplificar e aprimorar a gestão de bibliotecas, oferecendo um ambiente eficiente e organizado para o empréstimo, registro e controle de livros, revistas e cadastro de usuários.<br><br>
          </p>
          <h2>Funcionalidades Principais:</h2>
          <p>
          Cadastro de Livros e Revistas: O sistema permite o cadastro de livros e revistas, incluindo informações como título, autor, ano publicação, tipo, genero, entre outros dados relevantes.
          <br><br>
          Empréstimo e Devolução: Oferece a funcionalidade de registro de empréstimos, permitindo aos bibliotecários registrar quem retirou determinado material.
          <br><br>  
          Cadastro de Usuários: Possibilita o cadastro de usuários, com informações como nome, registro acadêmico e ano de nascimento, facilitando a identificação para questões relacionadas aos empréstimos e devoluções.
          <br><br>
          </p>
          <h2>Benefícios:</h2>
          <p>
          Organização Eficiente: Facilita a organização do acervo e o gerenciamento de empréstimos, agilizando processos para bibliotecários e usuários.
          <br><br>
          Controle Preciso: Oferece um controle detalhado sobre os materiais emprestados.
          <br><br>
          Melhoria na Experiência do Usuário: Proporciona uma experiência mais fluida e agradável para os usuários da biblioteca, facilitando a busca por materiais e o processo de empréstimo e devolução.
          <br><br>
          O Sistema de Gerenciamento de Biblioteca visa melhorar a eficiência operacional das bibliotecas, promovendo um ambiente organizado e acessível para o público interessado em ampliar seu conhecimento por meio de livros e revistas.
          </p>
          
        </fieldset>
          
      </div>
      
      <div class="social">
        <h5>SOCIAL</h5>
        <div class="socialIcons">
          <a href="https://github.com/JLisarte" target="_blank">
            <img src="/src/assets/logo-github.svg" width="30px" alt="Icone do gitHub" >
          </a>
          <a href="https://www.linkedin.com/in/juliano-lisarte-983ab3266/" target="_blank">
            <img src="/src/assets/logo-linkedin.svg" width="30px" alt="Icone do linkedin">
          </a>
      </div>
    </div>
    
  </main>

  </div>
  <footer>
    <p>© 2023 - Desenvolvido por Juliano Lisarte</p>
  </footer>
</body>
</html>