<!DOCTYPE html>
<html lang="pt-br">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TheBookIsOnTheTable/AddItem</title>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Ephesis&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/src/styles/style.css">
  <script type="module" src="/src/js/addItem.js" defer></script>
</head>
<body>
  <header>
    <div class="header">
      <div class="nav">
        <div>
          <a class="logo" href="/index.html">
            <img src="../assets/iconLibrary.png" alt="Estante de livros">
            <h1>The Book Is On The Table</h1>
          </a>
        </div>
        <div class="button">
          <input type="text" placeholder="Digite sua busca">
          <button>Buscar</button>
        </div>
      </div>

      <div class="add">

        <a class="addItem" href="./addItem.htm" rel="noopener noreferrer">
          <img src="../assets/iconAddItem.png" alt="">
          <p>Add item</p>
        </a>

        <a class="addUser" href="./addUser.htm" rel="noopener noreferrer">
          <img src="../assets/iconAddUser.png" alt="">
          <p>Add User</p>
        </a>

      </div>

    </div>
  </header>
  <form id="my-form">
    <fieldset>
      <div class="fieldset-wrapper">
        <legend>Adicione um acervo</legend>
        <div class="input-wrapper">
          <label for="title">Título</label>
          <input type="text" id="title">
        </div>
        <div class="input-wrapper">
          <label for="author">Autor</label>
          <input type="text" id="author">
        </div>
        <div class="input-wrapper">
          <label for="publicationYear">Ano de publicação</label>
          <input type="text" id="publicationYear">
      </div>
    </fieldset>
    <fieldset>
      <div class="fieldset-wrapper">
        <legend>Tipo:</legend>
        <select class="input-wrapper" id="type">
          <option value="">-</option>
          <option value="book">Livro</option>
          <option value="magazine">Revista</option>
        </select>     
      </div>
      <div class="fieldset-wrapper" style="display: none;" id="option_genre">
        <legend>Genero</legend>
        <select class="input-wrapper" id="genre" >
          <option value=""></option>
          <option value="thriller">Suspense</option>
          <option value="horror">Revista</option>
          <option value="comedy">Comédia</option>
          <option value="fiction">Ficção</option>
        </select>
      </div>
    </fieldset>
  </form>
  <footer>
    <button id="buttonAddItem" class="button" form="my-form">
    Salvar
    </button>
  </footer>
</body>
</html>
