<!DOCTYPE html>
<html lang="pt-br">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TheBookIsOnTheTable</title>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/../src/styles/collection.css">
</head>
<body>
  <header>
    <div class="header">

      <div class="nav">
        
          <a class="homeOne" href="/index.html">
            <h1>The Book Is On The Table</h1>
          </a>
          <a class="homeTwo" href="/index.html">
            <h3>Home</h3>
          </a>
          <div class="aBItems">
            <a class="collecction" href="./addItem.html">
              <h3>Adicionar Acervo</h3>
            </a>
            <a class="rent" href="./rent.html">
              <h3>Emprestar Avervo</h3>
            </a>
            <a class="giveBack" href="./giveBack.html">
              <h3>Devolver Avervo</h3>
            </a>
          </div>
          <a class="addUser" href="./users.html">
            <h3>Usuários</h3>
          </a>        
          <a class="about" href="./about.html">
            <h3>Sobre</h3>
          </a>        
      </div>
      <div class="searchButton">
        <input type="text" placeholder="Digite sua busca">
        <button>
          
        </button>
      </div>

    </div>
  </header>
  <form id="my-form">
    <fieldset>
      <div class="fieldset-wrapper">
        <legend class="legend">Acervo</legend>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th><img src="/src/assets/arrowDown.png" alt="Flexa apontada para baixo" width="15"></th>
                <th>Id</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Ano de Publicação</th>
                <th>Tipo</th>
                <th>Genero</th>
                <th>Emprestado</th>
                <th>Usuário Emprestado</th>
              </tr>
            </thead>
            <tbody id="tbody" class="tbody">
              
            </tbody> 
          </table>   
        </div>
    </fieldset>
  </form>
  <footer>
    <button id="deleteButton" form="my-form">
    Excluir
    </button>
  </footer>
  <script type="module" src="/src/js/collection.js" defer></script>
</body>
</html>
